@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: #fff8f3;
    font-family: "Comic Neue", cursive;
}


.title{
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 7px;
    color: #ff7817;
    padding: 20px 0;
    font-weight: 600;
}

.container{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.duck-box{
    flex-grow: 3;
    text-align: center;
}

.duck{
    height: 200px;
    width: 200px;
}

.counter-box{
    flex-grow: 2;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    color: #ff7817;
}

#more, #less{
    cursor: pointer;
}

.d-none{
    display: none;
}

#install{
    margin: auto;
    border: none;
    padding: 8px 50px;
    border-radius: 20px;
    background-color: #ff7817;
    color: #ff7817;
    letter-spacing: 2px;
}